html, body{
  height:100%;
  margin:0;
  display: flex;
  flex-direction: column;
}



/* inicio css del header */
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    width: auto;
    height: 8rem;
    color: white;
    font-size: larger;
}

.verde{
    color:#1beb9e;
    font-style: italic;
}

.azul{
    color:#18b6ff;
}

.morado{
    color:#b462ff;
}


.name{
    font-family: 'IBM Plex Mono', monospace;
    margin: 8px;
}

nav h2 {
    font-family: 'IBM Plex Mono', monospace;
    display: inline;
}

.fm{
    display: flex;
    align-items: center;
    gap: 3px;
    margin: 8px;
}

.fm img{
    width: 24px;
    height: 24px;
}

.icon{
    transition: 0.5s all;
    cursor: pointer;
}

.icon:hover{
    transform: scale(1.2);
}
/* fin css del header */

/* inicio css zona principal */

  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .wrap {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }

  main button{
    min-width: 300px;
    min-height: 60px;
    font-family: 'Gulzar', serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: white;
    background: #B983FF;
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24 #B983FF;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  main button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #94B3FD;
    box-shadow: 0 0 60px #94B3FD;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  main button:hover, main button:focus {
    transform: translateY(-6px);
  }
  
  main button:hover::before, main button:focus::before {
    opacity: 1;
  }
  
  main button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #B983FF;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  main button:hover::after, main button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }









  /*a partir de aca*/

  main h1 {
    font-family: 'Open Sans', sans-serif;
    color: #94B3FD;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 150px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow: #99FEFF 3px 2px 0;
    position: relative;
    z-index: 1;
  }

  main h1:after {
    content:"juego del ahorcado";
    position: absolute;
    left: 8px;
    top: 32px;
    z-index: 2;
  }

  main h1:after {
    /*background: url(https://subtlepatterns.com/patterns/crossed_stripes.png) repeat;*/
    background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #B983FF 25%, #B983FF 50%, transparent 50%, transparent 75%, #B983FF 75%);
    background-size: 4px 4px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -5;
    display: inline;
    text-shadow: none;
  }

  .slide-in-right {
    -webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }


 @-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.slide-out-elliptic-top-bck {
	-webkit-animation: slide-out-elliptic-top-bck 0.7s ease-in both;
	        animation: slide-out-elliptic-top-bck 0.7s ease-in both;
}

@-webkit-keyframes slide-out-elliptic-top-bck {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
}
@keyframes slide-out-elliptic-top-bck {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
}

/*lineas donde estaran las letras */

.gamezone{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contentpalabra{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  margin-top: 50px;
}

.linea{
  border-bottom: 21px ridge #94B3FD;
  border-radius: 0px 0px 31px 31px;
  margin:20px;
  width: 15%;
  text-align: center;
  display: inline;
}

@media screen and (max-width:450px){
  main h1{
    font-size: 30px;
  }

  main h1::after{
    left: 5px;
    top: 15px;
    font-size: 29.5px;
  }
}

img{
  height: 50%;
  width:  50%;  
}

@media screen and (max-width:960px){
  main h1{
    font-size: 60px;
  }

  main h1::after{
    left: 8px;
    top: 20px;
    font-size: 59px;
  }
}

@media screen and (max-width:650px){
    .linea{
      border-bottom: 8px ridge #94B3FD;
      border-radius: 0px 0px 10px 10px;
    }
}



